.title-wrap {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.title-wrap .title {
  color: var(--clr-tertiary-light);
  font-size: 4.2rem;
  font-weight: 700;
}

.swiper-slide {
  height: auto;
}

.swiper-slide:has(.journey-card) {
  margin: 1rem 0;
}

.journey-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  border: 1px solid var(--clr-secondary-light);
  border-radius: 16px;
}

.journey-title {
  /* background: var(--clr-tertiary-light); */
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.journey-title h5 {
  color: var(--clr-tertiary-light);
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 2.2rem;
  padding: 1rem;
}

.journey-icon {
  /* background: var(--clr-tertiary-light); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 10px solid var(--clr-secondary-light);
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.journey-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--clr-secondary);
  filter: blur(30px);
}

.journey-icon i {
  position: relative;
  color: var(--clr-dark-two);
  font-size: 5rem;
  z-index: 1;
}

.journey-content {
  color: var(--clr-tertiary-light);
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 1rem;
  flex-grow: 1;
}

.why-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5rem 0;
}

.reasons-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.why-wrap .reason {
  background: var(--clr-tertiary-light);
  border: 5px solid var(--clr-secondary);
  border-radius: 1rem;
  padding: 5rem 2rem;
}

.reason-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.reason-para {
  font-weight: 300;
  margin: 0.7rem 0;
}


.why-wrap img {
  width: 100%;
  height: 100%;
}


.core-card {
  background: var(--clr-tertiary-light);
  border: 5px solid var(--clr-secondary);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  height: 100%;
}

.core-icon {
  margin: 1rem 0;
}

.core-card i {
  font-size: 8rem;
  background: var(--clr-secondary);
  color: var(--clr-tertiary-light);
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}

.core-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.core-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.core-content p {
  font-weight: 300;
}

.meet-team-card {
  background: transparent;
  border-radius: 1rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  position: relative;
  border: 5px solid var(--clr-secondary);
}

.meet-team-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  filter: blur(50px);
}

.team-img-wrap {
  z-index: 1;
  margin: -1.4rem;
}

.team-img-wrap img {
  width: 100%;
  border-radius: 0.8rem;
  filter: grayscale();
  transition: all 0.7s ease-in-out;
}


.filter-none {
  filter: none!important;
}

.team-content-wrap {
  z-index: 1;
  padding: 1.5rem 1.3rem;
  flex-grow: 1;
  align-self: flex-start;
  transition: all 0.8s ease-in-out;
}

.team-name {
  font-size: 1.5rem;
  font-weight: 900;
}

.team-name span {
  font-size: 1.3rem;
  font-weight: 300;
}

.team-info {
  text-transform: capitalize;
  margin: 0.5rem 0;
}

@media screen and (min-width:1080px) {
  .why-wrap {
    flex-direction: row;
  }

  .reasons-wrap {
    min-width: 50%;
  }

  .why-wrap .img-wrap {
    min-width: 50%;
  }
  .meet-team-card {
    flex-direction: row;
  }
  .team-img-wrap img {
     border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  }
  .team-content-wrap {
    align-self: center;
  }
}