:root {
  --clr-dark: #0e1111;
  --clr-dark-two: #232b2b;
  --clr-med: #353839;
  --clr-light: #3b444b;
  --clr-light-two: #414a4c;

  --clr-primary: #474e93;
  /* --clr-primary: #5c6bc0; */
  --clr-primary-light: #7e5cad;
  /* --clr-secondary: #a294f9; */
  /* --clr-secondary-light: #cdc1ff; */
  --clr-secondary: #8c9eff;
  --clr-secondary-light: #b3b7ff;
  --clr-tertiary: #e5d9f2;
  --clr-tertiary-light: #f5efff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark-two);
  font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar {
  background-color: var(--clr-med);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  background-color: var(--clr-secondary);
  border-radius: 20px;
  padding: 0 20px;
}

.nav-link {
  color: var(--clr-dark-two);
}

.nav-link:active,
.nav-link:hover {
  background-color: var(--clr-dark-two);
  color: var(--clr-tertiary-light);
  transition: 0.5s ease-in-out;
}

.navbar-toggler {
  background-color: var(--clr-tertiary);
  border: 2px solid var(--clr-secondary);
}

.navbar-toggler:focus {
  outline: var(--clr-tertiary-light);
  box-shadow: 0 0 0 var(--clr-tertiary-light);
}
/* navbar */

section {
  margin: 6vh 0;
  padding: 20px;
}

.main-container {
  margin: 10px 0;
}

.glass {
  background: rgba(255, 255, 255, 0.71);
  border-radius: 20% 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  backdrop-filter: blur(18.1px);
  -webkit-backdrop-filter: blur(18.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass-one {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 80% 80% 10% 10%;
  box-shadow: 0px 9px 30px 3px rgba(162, 148, 249, 0.3),
    28px 110px 53px -66px rgba(229, 217, 242, 0.22),
    -88px -63px 90px -126px rgba(71, 78, 147, 1);
  backdrop-filter: blur(18.1px);
  -webkit-backdrop-filter: blur(18.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glow {
  box-shadow: 0 0 5px #cdc1ff, 0 0 10px #cdc1ff, 0 0 20px #cdc1ff,
    0 0 40px #cdc1ff;
  transition: all 0.7s ease-in-out;
}

.hide {
  display: none !important;
}

.primary-font {
  color: var(--clr-primary) !important;
}

.light-font {
  color: var(--clr-tertiary-light) !important;
}

#highlights,
#sectionJoin {
  scroll-margin-top: var(--header-height);
  /* scroll-margin-top: 200px; */
}

.h-light {
  position: relative;
  font-weight: 700;
  padding: 0 10px;
}
.h-light:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(to top, var(--clr-primary) 100%, transparent 50%);
  animation-name: highlight;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  /* Make the animation run back and forth */
}

@keyframes highlight {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

/* Index  */
section.hero-section {
  margin: 80px 0 0;
  padding: 0;
}

.home-hero-wrapper {
  background: linear-gradient(
      120deg,
      rgba(162, 148, 249, 0.9),
      rgba(126, 92, 173, 0.7)
    ),
    url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2llamFteTlsN2Z6c3JzOTFocmV2ZTM2NmNucWQxYjh1c2NoOW42bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MBVRgrfOBPeH5zNWJU/giphy.gif);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.home-hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hero-right {
  width: 100%;
  height: 100%;
  padding: 2%;
}
.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.hero-left {
  width: 100%;
}
.hero-left .comm-para {
  margin: 26px 0 51px;
}
.hero-left .comm-para p {
  color: #4d5566;
}
.hero-title-txt {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--clr-tertiary-light);
  position: relative;
}
/* 
.hero-title-txt::before {
  content: "";
  background: url(../img/hero-elem-1.svg) no-repeat;
  background-size: contain;
  display: block;
  width: 44.82px;
  height: 44.16px;
  position: absolute;
  top: -23px;
  left: -20px;
} */
.hero-title-txt.hero-title-txt-2 {
  font-size: 50px;
}
.highlighter {
  font-weight: 700;
  background-color: var(--clr-secondary-light);
  color: var(--clr-med);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 2px 10px;
  position: relative;
}
.hero-btns {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 14px;
}
.hero-btns .line i {
  margin-right: 11px;
  font-size: 22px;
}

.home-slide {
  text-align: left !important;
  padding: 1% 5% 5%;
}

.hero-left .comm-para {
  margin: 15px 0 20px !important;
  text-align: left;
}

.hero-left .comm-para p {
  text-align: left;
  color: var(--clr-tertiary-light);
}

.home-pagination {
  text-align: center;
  padding: 0px;
  position: relative;
  margin: 2% 0;
}

.home-hero-wrapper .button {
  background-color: var(--clr-light-two);
  color: var(--clr-tertiary-light);
  border-radius: 15px;
  padding: 15px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.5;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--clr-tertiary) !important;
}

/* hero CSS ends */

/* Logo swiper */
section.logo-sec {
  margin: 1vh 0;
}
.logo-container {
  max-height: 10vh;
  max-width: 80vw;
  margin: 1vw 10vw;
}

.logo-card {
  padding: 20px;
  border: 2px solid var(--clr-secondary);
  border-radius: 5px;
  box-shadow: inset 0 0 10px var(--clr-tertiary), 0 0 10px var(--clr-tertiary),
    0 0 10px var(--clr-tertiary), 0 0 10px var(--clr-tertiary);

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-card img {
  max-width: 200px;
  min-width: 200px;
  max-height: fit-content;
}

/* Logo swiper ends */

.sec-title,
.sec-sub-title,
.sec-para {
  color: var(--clr-tertiary-light);
}

/* Highlights section */
.highlights-main {
  display: flex;
  flex-direction: column;
}

.hightlight-cards .text-card {
  background: var(--clr-primary-light);
  border-radius: 20% 10%;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  backdrop-filter: blur(18.1px);
  -webkit-backdrop-filter: blur(18.1px);
  border: 1px solid var(--clr-secondary-light);
  color: var(--clr-tertiary);

  margin: 20px 0;
  padding: 40px 25px;
}

.hightlight-cards .bg {
  background-image: url("../img/virtuconf-bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 30vh 30vh;
}

.highlights-main .img-container img {
  border: 5px solid var(--clr-secondary-light);
  border-radius: 20px;
  max-width: 300px;
}
/* Highlights section end */

/* who section */
.who-main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.who-wrap.swiper {
  max-height: 50vh;
}
.who-wrap .text-card {
  margin: 10px;
  padding: 20px 30px;
  min-height: 300px;
  border-radius: 20px;
  background-color: var(--clr-primary-light);
  box-shadow: 0 0 0 2px var(--clr-secondary-light),
    8px 8px 0 0 var(--clr-secondary-light);
  color: var(--clr-tertiary);
}

.who-wrap .bg {
  background-image: url("../img/virtuconf-bg-dark.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 30vh 30vh;
}

.who-wrap li {
  font-size: 18px;
}
/* who section end */

/* makes section */
.makes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10vh;
}

.text-image-grid {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-image-grid:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
}

.text-wrap {
  color: var(--clr-tertiary-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
}

.image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrap img {
  margin: 10px;
  padding: 5px;
  border: 2px solid var(--clr-tertiary-light);
  border-radius: 20px;
  max-width: 90vw;
}
/* makes section end*/

/* commit section */
.commit-card {
  background: var(--clr-tertiary);
  padding: 20px;
  margin: 0 0 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commit-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-tertiary-light);
  background: var(--clr-secondary);
  padding: 0.8rem;
  border: 2px solid var(--clr-secondary-light);
  border-radius: 0.5rem;
}

.card-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

.commit-card .icon i {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary-light);
  border-radius: 10%;
  padding: 1rem;
  font-size: 4.5rem;
  color: var(--clr-tertiary);
}
.commit-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-weight: 400;
  color: var(--clr-dark-two);
}
/* commit section end*/

/* team section */
.team-wrap .team-card {
  min-height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  border: 2px solid var(--clr-tertiary-light);
}

.test {
  background: #f0f0f0 url("../img/homepage/team-managers.webp") no-repeat center
    center / cover fixed padding-box border-box;
}

.team-wrap .team-card#producer {
  background: linear-gradient(
      180deg,
      rgba(205, 193, 255, 0.2),
      rgba(126, 92, 173, 0.5)
    ),
    url("../img/homepage/team-producers.webp") no-repeat center/cover;
}

.team-wrap .team-card#engineer {
  background: linear-gradient(rgba(205, 193, 255, 0.2), rgba(126, 92, 173, 0.5)),
    url("../img/homepage/team-engineers.webp") no-repeat center/cover;
}

.team-wrap .team-card#designer {
  background: linear-gradient(rgba(205, 193, 255, 0.2), rgba(126, 92, 173, 0.5)),
    url("../img/homepage/team-designers.webp") no-repeat center/cover;
}

.team-wrap .team-card#manager {
  background: linear-gradient(rgba(205, 193, 255, 0.2), rgba(126, 92, 173, 0.5)),
    url("../img/homepage/team-managers.webp") no-repeat center/cover;
}

.team-wrap .team-card p {
  background: var(--clr-primary);
  padding: 20px;
  min-height: 120px;
  border: 2px solid var(--clr-tertiary);
  color: var(--clr-tertiary-light);
  font-size: 20px;
  font-weight: 400;
}
/* team section end*/

/* join section start */

#join .title-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#join .title {
  text-align: left;
  color: var(--clr-tertiary-light);
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

#join .title-wrap,
#join .sec-para {
  position: relative;
  z-index: 1;
}

.join-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 2rem 0;
  margin: 0 0 5rem;
}

.up-glow {
  position: absolute;
  left: 20%;
  width: 60%;
  padding: 30% 0;
  transform: translate(0, -70%) rotate(-45deg);
  background: radial-gradient(
    circle at left bottom,
    #e6b7fe 10%,
    #5049c2 20%,
    rgba(87, 78, 255, 0) 60%
  );
  filter: blur(40px);
}

.back-glow {
  position: absolute;
  filter: blur(60px);
  width: 80%;
  height: 60%;
  top: 50%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(#a7a2ff 30%, rgba(147, 80, 255, 0.5));
}

.card-glow {
  content: "";
  position: absolute;
  top: -10%;
  left: 5%;
  width: 90%;
  height: 40%;
  z-index: 0;
  border-radius: 50%;
  background: radial-gradient(
    #ffc58b 10%,
    var(--clr-secondary-light) 20%,
    var(--clr-secondary-light) 30%,
    #352cee 60%
  );
  filter: blur(40px);
  mix-blend-mode: color-dodge;
  transition: opacity 1s 1s;
}

.join-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 80vh;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.join-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  filter: blur(30px);
}

.join-card .card-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 4.5rem 2rem;
}

.title-que-wrap .title {
  color: var(--clr-tertiary-light);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.join-card .card-image {
  display: flex;
  align-items: normal;
  justify-content: center;
}

.card-image img {
  max-width: 100%;
  position: absolute;
}
.card-image img:nth-child(2) {
}

.join-btns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.join-btns .button {
  color: var(--clr-tertiary-light);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;

  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  width: 100%;
}

.join-btns .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--empty--);
  filter: blur(30px);
}

/* join section end */

/* FAQ start */

.faq-container {
  padding: 0.5rem;
}

.faq-item {
  background: var(--clr-secondary);
  padding: 1.2rem 1rem;
  margin: 1rem 0;
  border: 2px solid;
  border-color: var(--clr-dark-two);
  border-radius: 1rem;
}

.faq-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem;
}

.faq-item .faq-ans {
  margin: 1rem;
}
/* FAQ end */

/* Testime start */

.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.testim-card-wrap {
  background: transparent;
  display: flex;
}

.testim-card {
  background: var(--clr-tertiary-light);
  border-radius: 0.8rem;
  max-width: 100%;
  max-height: 100%;
  gap: 2rem;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-image-wrap {
  position: relative;
  display: inline-block; /* Or block depending on layout */
  border-radius: 10px;
  overflow: hidden; /* Clips pseudo-element and image to border radius */
}

.card-image-wrap img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 2;
}

.card-image-wrap::after {
  content: "";
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 20%;
  bottom: -20%;
  left: 10%;
  right: 10%;
  z-index: 1;
  border-radius: 100%;
  background: var(--clr-secondary);
  pointer-events: none;
}

.card-content-wrap {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* Testime end */

.hidden {
  display: none;
}

/* ----------------------------------------------------------------- 
 */
@media (min-width: 576px) {
  .home-hero {
    margin-bottom: 24px;
  }

  /* Logo */
  section.logo-sec {
    margin: 2vh 0;
  }
}

@media (min-width: 768px) {
  .home-hero {
    gap: 10px;
  }
  .hero-title-txt::before {
    top: -33px;
  }
  .hero-right {
    max-width: 90%;
    max-height: 100%;
  }
}

@media (min-width: 834px) {
  .home-hero {
    margin-bottom: 32px;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .hero-title-txt {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .home-hero {
    margin-bottom: 0;
    flex-direction: row;
  }
  .hero-right {
    max-width: 40%;
  }
  .hero-title-txt {
    font-size: 50px;
  }
  .hero-left .comm-para p {
    font-size: 20px;
  }
  .home-slide {
    padding: 1% 5% 0.5%;
  }

  /* Logo */
  section.logo-sec {
    margin: 5vh 0 10vh;
  }

  /* Highlights section */
  .highlights-main {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 50px;
  }
  .highlights-main .swiper {
    max-width: 50vw;
  }

  .highlights-main .img-container img {
    border: 5px solid var(--clr-secondary-light);
    max-width: 500px;
  }

  .hightlight-cards .text-card {
    border-radius: 5% 10%;
  }

  /* Who section  */
  .who-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100vh;
    gap: 50px;
  }
  .who-wrap.swiper {
    max-height: 100vh;
  }

  .who-wrap li {
    font-size: 20px;
  }

  /* makes section */
  .text-image-grid,
  .text-image-grid:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-wrap img {
    max-width: 40vw;
  }

  /* commit section */
  .commit-card {
    margin: 1.5rem;
  }
  .card-info-wrap {
    flex-direction: row;
  }
  /* commit section */

  /* join section */

  #join .title-wrap,
  .title-que-wrap {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  #join .title-wrap .title {
    text-align: center;
    color: var(--clr-tertiary-light);
    font-size: 6rem;
  }

  .join-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    min-height: 80vh;
    max-height: 80vh;
    background: var(--clr-secondary-light);
    padding: 2rem;
    border-radius: 2rem;
  }

  .join-card .card-title {
    font-size: 3.5rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .join-card .card-image {
    align-items: center;
  }

  .card-image img {
    max-width: 50%;
    position: absolute;
  }

  .title-que-wrap .title {
    text-align: center;
    color: var(--clr-tertiary-light);
    font-size: 6rem;
  }

  .join-btns {
    flex-direction: row;
  }

  .join-btns .button {
    width: 30%;
  }

  /* join section */

  /* FAQ section */

  .faq-item h3 {
    font-size: 1.5rem;
  }
  /* FAQ section */

  /* Testim start */

  .testimonial-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .testim-card {
    gap: 0.5rem;
  }

  /* Testim end */
}

@media (min-width: 1280px) {
}

@media (min-width: 1368px) {
  .home-hero {
    margin-bottom: -56px;
  }
}

@media (min-width: 1400px) {
  .card-image img {
    max-width: 43%;
    position: absolute;
  }
}
