/* Select section */
.select-card {
  background: var(--clr-primary);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-width: 100%;
}

.select-card .card-title {
  color: var(--clr-tertiary-light);
}

.select-card .img-wrap {
  background: var(--clr-tertiary);
  border-radius: 100%;
  padding: 30px;
}
.select-card img {
  max-width: 250px;
  max-height: 300px;
  background: linear-gradient(
    rgba(205, 193, 255, 0.8),
    rgba(126, 92, 173, 0.9)
  );
  border: 2px solid var(--clr-tertiary);
  border-radius: 20px;
}

.select-card .btn {
  background-color: var(--clr-tertiary-light);
  color: var(--clr-dark-two);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 100%;
}

.search-wrap select {
  background-color: var(--clr-tertiary);
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  min-width: 100%;
  max-width: 100%;
}

.search-wrap button {
  background-color: var(--clr-secondary-light);
  color: var(--clr-dark-two);
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
}

.event-item-card {
  background-color: var(--clr-secondary);
  border: 3px solid var(--clr-tertiary-light);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  max-height: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.event-title {
  font-weight: 700;
  height: 105px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.5rem 0;
  flex-grow: 1;
}

.event-content {
  flex-grow: 1;
}

.event-speaker {
  font-weight: 600;
}

.event-category {
  background-color: var(--clr-dark-two);
  color: var(--clr-tertiary);
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 300;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.pagination li>a {
  background-color: var(--clr-tertiary-light);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin: 0.5rem;
  color: var(--clr-primary);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.pagination a.active, .pagination a:hover {
  background-color: var(--clr-primary);
  color: var(--clr-tertiary-light);
}


/* Professional Section */
#Professional .hero-container {
  /* background: #f0f0f0 url("../img/night-view-victoria-harbor-hong-kong.webp")
  no-repeat center center / cover padding-box border-box; */
}
.hero-container::before {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: #f0f0f0 url("../img/night-view-victoria-harbor-hong-kong.webp")
  no-repeat center center / cover padding-box border-box;
  filter: blur(30px);
}



.hero-container {
  padding: 0;
}
/* 
.scroll-container {
  position: absolute;
}

.scroll-container > .sec-title {
  font-size: 20.5rem;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: thin var(--clr-tertiary-light);
} */

.hero-content {
  position: relative;
  margin: auto 1rem;
  padding: 2rem 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content > .sec-title {
  font-size: 3.5rem;
  font-weight: 800;
}

.hero-content .sec-sub-title {
  font-size: 1.5rem;
  font-weight: 200;
}


.hero-banner-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
    background: var(--clr-secondary-light);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-banner-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  filter: blur(30px);
}

.hero-banner-wrap i {
  font-size: 3rem;
}

.hero-banner-wrap p {
  font-size: 1.2rem;
  margin: 0;
}

.hero-banner-wrap strong {
  font-size: 1.5rem;
}
.hero-banner-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.hero-banner-card .icon-wrap {
  background: var(--clr-tertiary-light);
  border-radius: 100%;
  padding: 1rem;
}

.hero-banner-card .icon-wrap i {
  color: var(--clr-secondary);
}


.container-sec-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container-sec-wrapper .section-para-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.sec-title {
  font-size: 2.5rem;
}

.section-para-wrap h3 {
  color: var(--clr-tertiary-light);
}

.section-para-wrap hr {
  color: var(--clr-tertiary);
}

.form-img-wrap {
  display: none;
  margin-top: 20vh;
}

.form-img-wrap img {
  max-width: 100%;
  position: absolute;
}




#application-form-students, #application-form-startups, #application-form-pros{
  scroll-margin-top: var(--header-height);
}

.application-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.container-sec-wrapper .application-form-wrapper {
  background: var(--clr-secondary-light);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: -20px;
}

.container-sec-wrapper .application-form-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  filter: blur(30px);
}

.container-sec-wrapper .application-form-wrapper form {
  position: relative;
  padding: 3rem;
}

.application-form-wrapper label {
  font-weight: 600;
}

.application-form-wrapper hr {
  margin: 1.5rem 0;
  opacity: 0.5;
}

.application-form-wrapper input,
.application-form-wrapper textarea,
.application-form-wrapper select {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none;
  margin: 0.5rem 0;
  border: 2px solid var(--clr-secondary-light);
  min-width: 100%;
  max-width: 100%;
}

.application-form-wrapper .radio-grp-wrap {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
}

.radio-grp-wrap .radio-grp {
  display: flex;
  background-color: var(--clr-tertiary-light);
  color: var(--clr-dark-two);
  padding: 0.5rem 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
}

.radio-grp-wrap .radio-grp:nth-child(2) {
  display: flex;
  background-color: var(--clr-primary);
  color: var(--clr-tertiary-light);
  padding: 0.5rem 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
}

.radio-grp-wrap .radio-grp-card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-tertiary-light);
  color: var(--clr-dark-two);
  padding: 0.5rem 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
}

.checkbox-grp-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox-grp-wrap input {
  max-width: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  border-radius: 1rem;
}

.submit-btn {
	background: var(--clr-tertiary-light);
	color: var(--clr-primary);
  padding: 0.5rem 0.9rem;
	font-weight: 500;
	font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
}

.submit-btn:hover {
  background: var(--clr-primary);
  color: var(--clr-tertiary-light);
}

.application-form
.btn-wrap {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.application-form
.btn-wrap .btn {
  background: var(--clr-tertiary-light);
}


.register-sec .end-btn {
  background: var(--clr-tertiary-light);
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
}

.register-sec .end-btn:hover {
  background: var(--clr-secondary);
}

.error-msg {
  color: var(--clr-tertiary-light);
  font-weight: 300;
}

.who-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}

.who-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--clr-primary);
  color: var(--clr-tertiary-light);
  padding: 2rem;
  border-radius: 1rem;
}

.who-card .icon i {
  font-size: 5rem;
}

.who-card .card-title {
  font-size: 2rem;
}

.who-card p {
  margin: 0;
}

@media (min-width: 1024px) {
  .hero-container {
    padding: 2rem;
  }

  .hero-content {
    text-align: center;
  }
  .hero-container .content {
    max-width: 60vw;
  }

  .hero-banner-card {
    flex-direction: row;
  }

  .container-sec-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .search-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .who-cards-wrapper {
    margin: 3rem 2rem;
  }

  .who-card {
    flex-direction: row;
  }

  .form-img-wrap {
    display: block;
  }
  /* .form-img-wrap img {
    max-width: 50%;
  } */
}

@media (min-width: 1400px) {
  /* .form-img-wrap img {
    max-width: 43%;
  } */
}
